*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*.debug * {
    margin: 1px;
    border-style: dashed;
}*/

:root {
    --color-jumbo: #b4d0e6;
    --color-btn: #0061fe;
    --color-white: #fff;
    --color-black: #000000;
    --color-grey: hsl(0, 0%, 66%);
}


/* #region Generals */

.container-big {
    margin: auto;
    width: 70%;
}

.container {
    margin: auto;
    width: 55%;
}

ul{
    list-style-type: none;
}

.d-flex{
    display: flex;
}

.btn{
    padding: 0.5rem;
    background-color: var(--color-btn);
    color: var(--color-white);
    text-align: center;
    text-decoration: none;

   &:hover {
    opacity: 70%;
   }
}



.border {
    border: 0.5px solid var(--color-grey);
    
}

.m-xsml {
    margin-bottom: 0.5rem;
}
.m-sml{
    margin-bottom: 1rem;
}
.m-big{
    margin-bottom: 2rem;
}
.m-exbig{
    margin-bottom: 3rem;
}


/* #endregion Generals */

header{
    .nav-bar {
        justify-content: space-between;
    }

    .h-left, .h-rigth {
        padding: 1rem 2rem;
        align-items: center;  
    }

    li{
        padding: 2rem;
    }
}

/* #region Main */

.jumbotron {
    background-color: var(--color-jumbo);

    h1{
        font-size: 4rem;
        font-weight: 800;
    }

    .w-30 {
        width: 35%; 
    }

    .w-70 {
        width: 70%;
        position: relative;
    }

    .img-jumbo {
        position: absolute;
        height: 400px;
    }

}

.long-s {
    margin: 5rem 0;
}

.business{

    margin-bottom: 6rem;

    span {
        padding: 2rem 0;
    }
    
    label{
        margin-right: 2rem;
    }
    
    .card{
        width: 30%;
        
        margin-top: 3rem;
    }

    .card-top {
        border-bottom: 1px solid var(--color-black);
        text-align: center;
    }
    .card-body {
        padding-left: 1rem;

    .btn a {
        color: var(--color-white);
        text-decoration: none;
    }

    }
    div{
        justify-content: space-between;
    }

}

.partner{

    margin-bottom: 6rem;

    .d-flex{
        justify-content: space-between;
    }

    .w-60{
        width: 60%;
    }

    img {
        width: 100%;
    }

    .w-35{
        width: 35%;
    }

    a btn. {
        color: var(--color-black);
    }
}

.operation{

    margin-bottom: 6rem;

    .operation-card {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: 30%;

    }
    
    img{
        width: 100%;
    }

}

.team{
margin-bottom: 6rem;
}
/* #endregion Main */

footer {
    padding-top: 5rem;
    background-color: var(--color-black);
    color: var(--color-white);
   
    .nav-footer {
        width: 20%;
    }

    .menu-ft {
        margin-bottom: 5rem;
    }

    li{
        margin-top: 1rem;
    }

    .language {
        padding-bottom: 5rem;
    }

    a{
        color: var(--color-white);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }
}